*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

.titulo{
    display: flex;
    justify-content: center;
    perspective: 500px;
    perspective-origin: center bottom;
}

.letra{ transform-style: preserve-3d;
/*transform: rotateY(180deg);*/
}

.cara{ width: 70px;
    height: 100px;
    background-color: rgb(216, 214, 214);}

.frente{
    font-size: 4rem;
    font-weight: bolder;
    text-align: center;
    line-height: 100px;
    backface-visibility: hidden;
    
    
}