*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
#div1{
    padding: 3rem 1rem;
    background-color: rgb(127, 161, 255);
    /*transition: margin-top 4s;*/
    transition: top 4s;
    width: 100%;
    position: absolute;
    top:0;
}
#div2{
    padding: 3rem 1rem;
    background-color: aquamarine;
    transition: padding 3s,margin-left 4s;
    width: 100%;
    margin-top: 114px;
}

#div2:hover{
    padding-left: 500px;
    margin-left: 500px;
}

#div1:hover{
    /*margin-top: 500px;*/
    top:500px;
}

.imagen{
    height: 30vw;
    width: 30vw;
    position: absolute;
}
img{
    /*opacity: .3;*/
    /*transition: all 2s linear;*/
    height: 30vw;
    width: 30vw;
    position: absolute;
    z-index: 0;
    
}

/*img:hover{
    opacity: 1;
    filter: blur(0px);
}*/

.cubierta:hover{
    opacity: 1;
    transform: scale(1.1);
}

.cubierta{
    background-image: url(itsur.png);
    background-size: 30vw 30vw;
    height: 30vw;
    width: 30vw;
    z-index: 2;
    position: absolute;
    opacity: 1;
    filter: blur(4px);
    -moz-transition: opacity 2s;
    -webkit-transition: opacity 2s;
    -o-transition: opacity 2s;
    -ms-transition: opacity 2s;
    transition: opacity 2s, transform 2s;

    margin-left: 5px;
    margin-right: 5px; 
    margin-top: 5px;

}