*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    overflow: hidden;
}
#div1{
    padding: 3rem 1rem;
    background-color: rgb(127, 161, 255);
    /*transition: margin-top 4s;*/
    transition: top 4s;
    width: 100%;
    position: absolute;
    top:0;
}
#div2{
    padding: 3rem 1rem;
    background-color: aquamarine;
    transition: padding 3s,margin-left 4s;
    width: 100%;
    margin-top: 114px;
}

#div2:hover{
    padding-left: 500px;
    margin-left: 500px;
}

#div1:hover{
    /*margin-top: 500px;*/
    top:500px;
}

.imagen{
    height: 30vw;
    width: 30vw;
    position: absolute;
}
img{
    opacity: .3;
    transition: opacity 2s;
    height: 30vw;
    width: 30vw;
    position: absolute;
    z-index: 0;
    filter: blur(4px);
}

img:hover{
    opacity: 1;
}

.cubierta{
    background-color: #fff;
    height: 30vw;
    width: 30vw;
    z-index: 2;
    position: absolute;
    opacity: .2;
}